<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/include1.css' %}">
</head>
<body>
    <div class="div1">
<div class="div1-1">
</div>
<div class="div1-2">
<a href="/">Home</a>
<a href="{% url 'about' %}">About me</a>
<a href="{% url 'project' 'all' %}">My projects</a>
<a href="{% url 'contact' %}">Contact</a>
</div>
<div class="div1-2a ">
<div class="menu_">
<a  class=" " href="/">Home</a>
<a href="{% url 'about' %}">About me</a>
<a  href="{% url 'project' 'all' %}">My projects</a>
<a   href="{% url 'contact' %}">Contact</a>
</div>
</div>
</div>
<svg id="menu" class="menu" enable-background="new 90 90 26 26" id="Слой_1" version="1.1" viewBox="0 0 26 26" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M24.25,12.25H1.75C1.3359375,12.25,1,12.5859375,1,13s0.3359375,0.75,0.75,0.75h22.5   c0.4140625,0,0.75-0.3359375,0.75-0.75S24.6640625,12.25,24.25,12.25z" fill="#fff"/><path d="M1.75,7.75h22.5C24.6640625,7.75,25,7.4140625,25,7s-0.3359375-0.75-0.75-0.75H1.75   C1.3359375,6.25,1,6.5859375,1,7S1.3359375,7.75,1.75,7.75z" fill="#fff"/><path d="M24.25,18.25H1.75C1.3359375,18.25,1,18.5859375,1,19s0.3359375,0.75,0.75,0.75h22.5   c0.4140625,0,0.75-0.3359375,0.75-0.75S24.6640625,18.25,24.25,18.25z" fill="#fff"/></g></svg>
<svg id="b" class=" b " viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><title/><g id="cross"><line class="cls-1" x1="7" x2="25" y1="7" y2="25"/><line class="cls-1" x1="7" x2="25" y1="25" y2="7"/></g></svg>
</div>   
<div class='div2'>
<img src="{% static 'images/Rectangle 1.png' %}" alt="" srcset="">
</div>
</body>
<script src="{% static 'js/menu.js' %}"></script>
</html>